.Person{
    width: 60%;
    height: 200px;
    border: 2px solid black;
    margin: 20px auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    animation-name: Fade;
    animation-duration: 2s;
}
@keyframes Fade {
    from {opacity: 0; width:0;height: 0;}
    to {opacity: 1;width:60%;height: 200px;}
}
@media (min-width:500px){
    .Person{
        width: 450px;
    }
}
