.App{
    text-align: center;
}
.btn{
    text-transform: uppercase;
    margin: 0 20px;
    cursor: pointer;
}
.red{
    width: 250px;
    color: red;
    border: 1px solid red;
    transition: all 1s ease;
    margin:20px auto;
    
}
.bold{
    font-weight: bold;
    font-size: 18px;
    transition: all 1s ease;
}